body {
  background: #eee;
  font-family: sans-serif;

}

.section {
  margin: 8px auto;
}

.card {
  background: #fff;
  padding: 8px;
  width: 400px;
  margin: auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px 16px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  align-self: center;
  margin: auto;
  padding: 8px 24px;
}